.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #f7f6f6;
  padding: 10px 20px;
}

.portfolio-text {
  margin: 0;
  margin-left: 5%; /* More responsive margin */
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: large;
}

.nav-links li {
  margin: 10px; /* Smaller margin for better spacing on mobile */
}

.nav-links li a {
  color: white;
  text-decoration: none;
  position: relative;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}

.nav-links li a:hover::after {
  width: 100%;
}

.resume-btn {
  padding: 10px 20px;
  margin-right: 5%; /* More responsive margin */
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 20px;
  font-size: medium;
  background-color: aliceblue;
}

.resume-btn:hover {
  background-color: rgb(232, 236, 239);
}

.download-img {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

/* Media Query for smaller devices */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .portfolio-text {
    margin-left: -350px;
    font-size: x-large; /* Smaller font size */
  }

  .nav-links {
    flex-direction: column;
  }

  .nav-links li {
    margin: 5px;
  }

  .resume-btn {
    margin: 10px 10px;
    width: 40%; /* Full width button */
    justify-content: center;
  }
}
